/* 
    Created on : 29/05/2017, 8:45:06
    Author     : Manuel Colombini
*/

/* Página general de estilos */

.login {
	margin: auto;
	width: 420px;
}

.favor-new {
	margin-top: 20px;  
}

/* Estilos aplicados al titulo del panel */
.favor-new h3 {
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
}

body {
	background-color:#f3f3f3;
	margin:0;
}

.panel-heading h3 {
	font-size: 24px;
  font-variant: small-caps;
  font-weight: bold;
}


.panel-heading img {
	float:right;
	margin-top:-5px;
	left:0;
	width:40px;
}

.favorList img {
	/* height: 80px; */
  height: 50px;
  width: 50px;
  
}

nav {
	height: 40px;
}

.panel-name-user{
	font-family: sans-serif;
	margin-top: 2%;
	margin-left: 2%;
	float:left;
	font-weight: bold;
	font-size: 15px;
}

.dropdown{
	float:left;
	width: 25%;
	height: 100%;
	
}

.dropdown-toggle{
	margin-top: 0;
	margin-left: -28%;
	width: 100%;
	height: 100%;
}

.dropdown-toggle p{
	padding-left: 1px;
}

.mailF {
	margin-top:5px;
	font-weight: bold;
	font-size: 15px;
}

.favorSearch {
	margin: 0;
}

#searchTitle {
	width: 160px;
}

#searchCity {
	width: 130px;
}

#searchDeadline {
	width: 95px;
}

.favorSearch img {
  height: 30px;
  width: 30px;
}

.text-white, .text-white:hover, .text-white:active, .text-white:focus {
	color: #FFF;
}