/* 
    Created on : 29/05/2017, 8:45:06
    Author     : Manuel Colombini
*/

/* Página general de estilos */

.login {
	margin: auto;
	width: 420px;
}

.editR {
    margin: auto;
    width: 450px;
}

.favor-new {
	margin-top: 20px;  
}

/* Estilos aplicados al titulo del panel */
.favor-new h3 {
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
}

body {
	background-color:#f3f3f3;
	margin:0;
}

.panel-heading h3 {
	font-size: 24px;
  font-variant: small-caps;
  font-weight: bold;
}


.panel-heading img {
	float:right;
	margin-top:-5px;
	left:0;
	width:40px;
}

.favorList img, .usersList img {
	/* height: 80px; */
  height: 50px;
  width: 50px;
  
}

nav {
	height: 40px;
}

.panel-name-user{
	font-family: sans-serif;
	margin-top: 2%;
	margin-left: 2%;
	float:left;
	font-weight: bold;
	font-size: 15px;
}

.dropdown{
	float:left;
	width: 25%;
	height: 100%;
	
}

.dropdown-toggle{
	margin-top: 0;
	margin-left: -28%;
	width: 100%;
	height: 100%;
}

.dropdown-toggle p{
	padding-left: 1px;
}

.mailF {
	margin-top:5px;
	font-weight: bold;
	
}

.favorSearch {
	margin: 0;
}

#searchTitle {
	width: 160px;
}

#searchCity {
	width: 130px;
}

#searchDeadline {
	width: 95px;
}

.favorSearch img {
  height: 30px;
  width: 30px;
}

.text-white, .text-white:hover, .text-white:active, .text-white:focus {
	color: #FFF;
}

.text-black, .text-black:hover, .text-black:active, .text-black:focus {
	color: #000;
}

.modal-header h3 {
	font-weight: bold;
	text-align: center;
}

#btnMod {
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	font-family: arial;
	font-variant: small-caps;
	float:right;
}

.imgCharger {
	margin-top: 20px;
	margin-left: 5px;
	padding: 10px 0;
}

.imgCharger p {
	font-weight:bold;
}

.imgUs{
	margin-right:20px;
}
.imgUs img {
	width:125px;
	margin-top: 30px; 
	margin-left: 3px;
}

.labelImg {
	padding-left:5px;
}

.usPh{
	margin-top:-15px;
}

.logoMin{
	width:25px;
}

.nm{
	font-size:30px;
	font-family: arial;
	font-variant: small-caps;
}

#profileJumb{
	height:100%;
	background-color:#f1daae;
	padding-right: 35px;
}

.infoContainer {
	display: block;
	min-width: 320px;
}

.imgUsProf {
	padding-bottom: 6px;
}

.imgUsProf img {
	height:205px;
	width:250px;
	margin-left:32%;
	margin-bottom: 10px;
}

.img-thumbnail{
	background-color:#eeab13;
}

.logoMin{
	margin-top:-10px;
}

#menuEnc{
	width:100%;
	margin-top:25px;
}

#menuEnc p {
	font-size: 20px;
	font-variant: small-caps;
	margin-top: 5px; 
	margin-bottom: 5px; 
	margin-left: 8px;
}

#menuPP{
	margin-left:2px;
	float: left;
	width:222px;
	height: 100%;
	position: absolute; 
}

#menuPP a{
	width:100%;
	height:27px;
	border-radius:2px;
	background-color:#eee;
	color:#000;
	padding:1px;
	text-decoration:none;
	padding-top: 3px;
	padding-left: 3px;
}

#menuPP strong{
	padding-left:6px;
}

.nav-header{
	padding:2px;
}

.nav-header b{
	float:right;
	font-size:10px;
	padding-top:5px;
	padding-right:2px;
}

.margSupD{
	float:right;
	margin-top: -230px;
	margin-right:0;
}

.margSupD p{
	font-size:20px;
}

.nameProf{
	margin: 20px 30%;
}

.imgUsChica img{
	height:110px;
	width:125px;
	margin-left:-10px;
	margin-top:-10px; 
}

.nameProfPub{
	margin-left: 150px; 
	margin-top: -100px;
}

.margSupPub{
	margin-top:0;
	margin-left:150px;
}

.repList{
	margin-top:50px;
}

#btnEl{
	width: 80px; 
	height: 27px; 
	border-color: #babdb6; 
	margin-left: 17px;
}

#btnEl p{
	font-size:13px;
	font-weight:normal;
	margin-top: -3px;
	font-family: sans-serif;
}

.imgCharger span{
	margin-left:15px;
}

#ret {
	position: relative;
	float: right;
}

#myFavors {
	margin-top: -20px;
	margin-left: 180px;
	min-height: 304px;
}

#favorsList {
	margin-left: 10px;
	width: 690px;
}

#sE {
	width:35px;
}

#btnAdmin {
	width:100%;
	height:100%;
	margin-left:0;
	padding-bottom:9px;
	padding-top:9px;
	background-color:#f3f3f3;
	color:#337ab7;
}

#btnAdmin:hover{
	background-color:#eeeeec;
}

.totalEarnings {
	background-color:#eeeeec;
}

.totalEarnings p{
	font-size:20px;
	font-weight:bold;
	color:#337ab7;
}

.category-new {
  margin: 20px auto 0px;  
}

@media (min-width: 768px) {
  .category-new {
    width: 65%;  
  }  
}

.category-new h3 {
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}

.category-new .alert-danger a {
  color: #A94442;
  font-weight: bold;
}

.form-group p.help-block {
  margin: 3px 0px 0px;
  font-size: 13px;
  color: #737373; 
}

.category-new .form-control{
	width: 90%;
}

#btnCategory{
	margin-left:-60px;
}