/* 
    Created on : 28/05/2017, 16:55:06
    Author     : Juan Manuel Cipollone
*/

/* Estilos aplicados al panel que contiene el nuevo favor */
.favor-new {
  margin: 20px auto 0px;  
}

@media (min-width: 768px) {
  .favor-new {
    width: 65%;  
  }  
}

/* Estilos aplicados al titulo del panel */
.favor-new h3 {
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}

.favor-new .alert-danger a {
  color: #A94442;
  font-weight: bold;
}
