/* 
    Created on : 02/06/2017, 01:41:48
    Author     : juan
*/

.panel.favor {
  margin-top: 20px;
}

.media.favor {
  border: 1px solid #FF902F;
  padding: 15px;
  border-radius: 15px;
  background-color: #F8F0F0;
}

.media.favor .media-body {  
  padding: 0px 5px;
}

.favor .favor-title {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 5px;
  color: #555;
}

.favor .favor-description {
  color: #999;
  font-style: italic;
}

.favor .favor-photo {
  width: 150px; 
  height: 120px;
}

.favor .favor-properties {
  font-size: 15px;
}

.favor .favor-properties li {
  margin-bottom: 3px;
}

/* Panel de preguntas y respuestas de una gauchada */
.panel.questions {
  background: none repeat scroll 0% 0% #FFFBFB;
  border: 1px solid #FF902F;
  border-radius: 15px;
  margin-top: 15px;
}

.panel.questions .panel-heading {
  background-image: linear-gradient(to bottom, #F8F0F0 0%, #F8F0F0 100%);
  border-bottom: 1px solid #FF902F;
  border-radius: 15px 15px 0px 0px;
  font-size: 15px;
  font-weight: bold;  
  text-align: center;    
}

.panel.questions .panel-body {
  padding: 15px;
}

.question-and-answer {
  margin-bottom: 10px;
}

/* Estilos asociados a una pregunta del favor */
.question {
  border: 1px solid #EEE;
  border-radius: 5px;  
  padding: 10px;
  background-color: #F9F9F9;
}

.question .question-header .glyphicon {
  font-size: 28px;
  margin-right: 10px !important;
  color: #666;
}

.question .question-header .question-author {
  font-size: 15px;
  font-weight: bold;
  color: #444;
}

.question .question-header .question-posted-at {
  font-size: 12px;
  color: #999;
  margin-left: 5px;
  font-style: italic;
}

.question .question-content {
  margin-left: 38px;
  color: #444;
}

/* Estilos asociados a una respuesta a una pregunta */
.answer {
  border: 1px solid #EEE;
  border-radius: 5px;  
  padding: 10px;
  background-color: #FDFDFD;
  margin-left: 10%;
  margin-top: 5px;
}

.answer .answer-header .glyphicon {
  font-size: 28px;
  margin-right: 10px !important;
  color: #666;
}

.answer .answer-header .answer-author {
  font-size: 15px;
  font-weight: bold;
  color: #444;
}

.answer .answer-header .answer-posted-at {
  font-size: 12px;
  color: #999;
  margin-left: 5px;
  font-style: italic;
}

.answer .answer-content {
  margin-left: 38px;
  color: #444;
}